body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 2rem;
}

.add-post-btn {
    font-size: 1.0rem;
    transition: background-color 0.3s ease;
}

.add-post-btn:hover {
    background-color: #45a049;
}

.container {
    max-width: 800px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.header button {
    padding: 0.5rem 1rem;
    font-weight: 600;
    background: linear-gradient(90deg, #3796bc, #46cd9c);
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}

.search-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0;
}

.search-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-group label {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.search-group input,
.search-group select {
    width: 250px;
    padding: 0.4rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.post {
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.post img {
    max-width: 100%;
    height: auto;
    border-radius: 0.375rem;
    margin-top: 1rem;
}

.post .tags {
    color: #4b5563;
    margin-top: 0.5rem;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.pagination button {
    background: #e5e7eb;
    border: none;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.likes {
    font-size: 0.9rem;
    color: #6b7280;
    margin-top: 0.5rem;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #534ed5;
    background: linear-gradient(to right, #534ed5, #9d52ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    gap: 8px;
    margin-bottom: 10px;
}

.logo .blog-accent {
    font-weight: 400;
    color: inherit;
}

.post-link {
    all: unset;
    cursor: pointer;
    display: inline-block;
}

.post-link h2 {
    margin: 4px;
}

a.post-link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 0.5em;
    padding: 0.4em;
}


a:hover {
    transform: scale(1.02); /* увеличиваем размер на 5% */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* добавим тень для акцента */
}

.post-link:hover h2 {
    color: #007bff;
    transform: translateX(2px);
}
