<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Витрина товаров</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/post-show.css}" />
</head>

<body>
<div class="container">
    <div class="header">
        <a href="/posts" class="back-link"><i class="fa-solid fa-arrow-left"></i> На главную</a>
        <div class="action-buttons">
            <form method="GET" th:action="@{'/posts/' + ${post.id} + '/edit'}">
                <button class="edit-btn">Редактировать</button>
            </form>
            <form method="POST" th:action="@{'/posts/' + ${post.id} + '/delete'}">
                <button class="delete-btn">Удалить</button>
            </form>
        </div>
    </div>

    <h2 class="post-title" th:text="${post.title}"></h2>
    <img class="post-image" height="300" th:src="@{'http://localhost:8080/posts/images/' + ${post.id}}"/>

    <form class="like-form" th:action="@{'/posts/' + ${post.id} + '/like'}" method="post">
        <button name="like" value="true">&#x1F44D;</button>
        <span th:text="${post.likesCount}"></span>
        <button name="like" value="false">&#128078;</button>
    </form>

    <div class="tags">
        <span th:each="tag : ${post.tags}" th:text="${'#' + tag + ' '}"></span>
    </div>

    <div class="post-text" th:each="textPart : ${post.textParts}">
        <p th:text="${textPart}"></p>
    </div>

    <hr>
    <h2 class="comment-title">Комментарии</h2>

    <div class="comments">
        <div class="comment" th:each="comment : ${post.comments}">
            <form method="POST" th:action="@{'/posts/' + ${post.id} + '/comments/' + ${comment.id}}">
                <span th:id="${'comment' + comment.id}" th:text="${comment.text}"></span>
                <button th:id="${comment.id}" onclick="editComment(this.id)" class="comment-edit-btn" type="button">&#9998;</button>
            </form>
            <form method="POST" th:action="@{'/posts/' + ${post.id} + '/comments/' + ${comment.id} + '/delete'}">
                <button class="comment-delete-btn">&#10007;</button>
            </form>
        </div>
    </div>

    <form id="addCommentForm" class="add-comment-form" th:action="@{'/posts/' + ${post.id} + '/comments'}" method="post">
        <button id="addCommentButton" type="button" onclick="addComment()">Добавить комментарий</button>
    </form>
</div>

<script>
    function editComment(id) {
        const comment = document.getElementById("comment" + id);
        const newComment = document.createElement("textarea");
        newComment.innerHTML = comment.innerHTML;
        newComment.rows = 3;
        newComment.name = "text";
        newComment.style.width = "100%";
        comment.parentNode.replaceChild(newComment, comment);

        const button = document.getElementById(id);
        button.remove();

        const newButton = document.createElement("button");
        newButton.innerHTML = "&#10003;";
        newButton.style.float = "right";
        newComment.parentNode.appendChild(newButton);
    }

    function addComment() {
        const button = document.getElementById("addCommentButton");
        button.remove();

        const form = document.getElementById("addCommentForm");

        const newComment = document.createElement("textarea");
        newComment.rows = 3;
        newComment.name = "text";
        newComment.style.width = "100%";
        form.appendChild(newComment);

        const newButton = document.createElement("button");
        newButton.innerHTML = "&#10003;";
        newButton.style.float = "right";
        form.appendChild(newButton);
    }
</script>
</body>
</html>
