<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Лента постов</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/posts.css}"/>
</head>

<body>
<div class="container">
    <div class="header">
        <div class="logo">
            <i class="fa-solid fa-bolt"></i>
            <span>Flash<span class="blog-accent">Blog</span></span>
        </div>
        <h1>Лента постов</h1>
        <form method="GET" action="/posts/add">
            <button class="add-post-btn">Добавить пост</button>
        </form>
    </div>

    <form class="search-section" method="GET">
        <div class="search-group">
            <label for="search">Найти по тегу:</label>
            <input id="search" name="search" th:value="${search}"/>
        </div>

        <div class="search-group">
            <label for="pageSize">Число постов на странице:</label>
            <select id="pageSize" name="pageSize" onchange="this.form.submit()">
                <option value="5" th:selected="${paging.pageSize()==5}">5</option>
                <option value="10" th:selected="${paging.pageSize()==10}">10</option>
                <option value="20" th:selected="${paging.pageSize()==20}">20</option>
                <option value="50" th:selected="${paging.pageSize()==50}">50</option>
                <option value="100" th:selected="${paging.pageSize()==100}">100</option>
            </select>
        </div>
    </form>

    <div th:each="post : ${posts}" class="post">
        <a th:href="@{'/posts/' + ${post.getId()}}" class="post-link">
            <h2 th:text="${post.getTitle()}"></h2>
        </a>
        <img th:src="@{'http://localhost:8080/posts/images/' + ${post.getId()}}" alt="Post Image">
        <p th:text="${post.getTextPreview()}"></p>
        <p class="post-stats">
            <span><i class="fa-solid fa-thumbs-up"></i> <span th:text="${post.getLikesCount()}"></span></span>
            <span><i class="fa-solid fa-comment"></i> <span th:text="${post.getCommentsCount()}"></span></span>
        </p>
        <div class="tags">
            <span th:each="tag : ${post.getTags()}" th:text="'#' + ${tag} + ' '"></span>
        </div>
    </div>

    <div class="pagination">
        <form method="GET">
            <button th:if="${paging.hasPrevious()}" name="pageNumber" th:value="${paging.pageNumber()-1}">&lt;</button>
            <span th:text="'Страница: ' + (${paging.pageNumber()} + 1)"></span>
            <button th:if="${paging.hasNext()}" name="pageNumber" th:value="${paging.pageNumber()+1}">&gt;</button>
        </form>
    </div>
</div>
</body>
</html>
